.checkmark {
  fill: none;
  position: relative;
  top: 4px;
  animation-name: fillFill;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-delay: 150ms;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#path {
  stroke-dasharray: 84.8528px;
  stroke-dashoffset: 0;
  animation: strokeDraw 200ms forwards linear;
}

@keyframes strokeDraw {
  0% {
    stroke-dashoffset: 84.8528px;
    stroke: white;
    stroke-width: 2px;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: white;
    stroke-width: 2px;
  }
}

@keyframes fillFill {
  from {
    fill: none;
  }
  to {
    fill: white;
  }
}
